extends layout

block content
    .jumbotron
        h1
            i.fa.fa-tty
            | 
            = title

    form#stats-form(action='/stats', method='post')
        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            i.fa.fa-fw.fa-users  
                            |  Получить сотрудников из amoCRM
                    .panel-body#before-amo-login
                        .form-group
                            .input-group 
                                label.input-group-addon Домен:
                                input.form-control#amo_domain(placeholder="example.amocrm.ru", name='amo_domain', type="text")
                        | 
                        .form-group
                            .input-group
                                label.input-group-addon Логин
                                input.form-control#amo_email(placeholder="admin@example.com", name="amo_email", type="email")
                        .form-group
                            .input-group
                                label.input-group-addon API ключ:
                                input.form-control#amo_key(placeholder="API key", name='amo_key', type="password")
                        | 
                        button.btn.btn-primary.pull-right#get-amo-info 
                            i.fa.fa-fw.fa-chevron-right
                            | sup
                    .hidden.panel-body#after-amo-login
                        center
                            i.fa.fa-fw.fa-5x.fa-check.text-success

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title 
                            i.fa.fa-fw.fa-users
                            |  Ввести сотрудников вручную
                    .panel-body
                        p список сотрудников в формате csv
                        textarea#users_csv.form-control(rows=10, name="users_csv")
                        pre Имя,Отдел,Внутренний номер
                          | Сергей,ТП,135
                          | Галина,Продажи,264

        .row

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title 
                            i.fa.fa-fw.fa-gear
                            |  Интеграция с onlinepbx
                    .panel-body
                        .form-group
                            .input-group 
                                label.input-group-addon Домен:
                                input.form-control(placeholder="example.onpbx.ru", name='onpbx_domain', type='text')
                        | 
                        .form-group
                            .input-group
                                label.input-group-addon API ключ:
                                input.form-control(placeholder="API key", name='onpbx_key', type='text')

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title 
                            i.fa.fa-fw.fa-gears
                            |  Служебные номера: 
                    .panel-body
                        p Звонки, остановившиеся на этих номерах, будут считаться пропущенными
                        .form-group
                            .input-group
                                label.input-group-addon (через запятую)
                                input.form-control(placeholder='5110, 5120', type="text", name="sys_nums")
                        p Эти номера будут считаться номерами голосовых приветствий
                        .form-group
                            .input-group
                                label.input-group-addon (через запятую)
                                input.form-control(placeholder='5001, 5002, 5005', type="text", name="ivr_nums")

        .row

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title 
                            i.fa.fa-fw.fa-table 
                            |  Даты
                    .panel-body
                        .row
                            .form-group.col-md-6
                                label.sr-only Начальная дата
                                | 
                                .input-group
                                    .input-group-addon С:
                                    input.form-control(type="date", name='start_date')
                            | 
                            .form-group.col-md-6
                                label.sr-only Конечная дана
                                | 
                                .input-group
                                    .input-group-addon По:
                                    input.form-control(type="date", name='end_date')

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title
                            i.fa.fa-fw.fa-phone
                            |  Включить в статистику
                    .panel-body
                        .row
                            .col-md-6
                                .checkbox
                                    label
                                        input(type="checkbox", name="show_incoming", checked)
                                        | Входящие
                            .col-md-6
                                .checkbox
                                    label
                                        input(type="checkbox", name="show_outgoing")
                                        | Исходящие
                            //- .col-md-6
                                .checkbox
                                    label
                                        input(type="checkbox", name="show_local")
                                        | Внутренние
                            //- .col-md-6
                                .checkbox
                                    label
                                        input(type="checkbox", name="show_sip")
                                        | SIP

        hr

        .row
            .col-md-6.col-md-offset-6
                button.btn.btn-lg.btn-block.btn-primary#show-stats(type='submit') Получить статистику 
                    i.fa.fa-fw.fa-chevron-right

        hr

        .row
            .col-md-4.col-md-offset-8
                button.btn.btn-sm.btn-block.btn-warning#clear-data Очистить настройки
                    i.fa.fa-fw.fa-trash

    hr
    script(type='text/javascript', src='static/main.js')
