doctype html
html
  head
    title= title
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  body(style="padding-top:20px;")
    .container 
        block content