extends layout

block content
    h2= title

    .panel.panel-default
        .panel-heading
            h3.panel-title Таблица 1
        table.table.table-condensed.table-bordered
            thead
                tr
                    th.text-center Сотрудник
                    th.text-center ФИО
                    th.text-center Отдел
                    th.text-center Количество звонков
                    th.text-center Продолжительность (сек)
                    th.text-center Процент принятых
                    th.text-center Сред.продолж.(мин)
                    th.text-center Занятость минут в час
                    th.text-center Тикетов выполнено
            tbody
                each person in persons
                    tr
                        td= person.number
                        td= person.name
                        td= person.group
                        td.text-right= person.call_count
                        td.text-right= person.total_length
                        td.text-right= person.call_percent
                        td.text-right= person.avg_length
                        td.text-right= person.occupation
                        td.text-right= person.tickets

    .panel.panel-default
        .panel-heading
            h3.panel-title Таблица 2
        table.table.table-striped.table-bordered
            thead
                tr
                    th #
                    each day in days
                        th.text-right= day
            tbody
                each hour in calls_by_hour
                    tr
                        td= hour.hour
                        each day in days
                            if hour.calls[day] && hour.calls[day].red
                                td.text-right.text-danger.bg-danger= hour.calls[day].value
                            else if hour.calls[day] && hour.calls[day].value
                                td.text-right= hour.calls[day].value
                            else
                                td.text-right &nbsp;

    .panel.panel-default
        .panel-heading
            h3.panel-title Таблица 3
        table.table.table-striped.table-bordered
            thead
                tr
                    th Всего звонков
                    each group in groups
                        th= "Принятых " + group
                    th Сброс клиентом
                    th.text-danger Не принятых звонков
            tbody
                tr
                    td= table3.total
                    each group in groups
                        td= table3[group]
                    td= table3.ivr
                    td.text-danger= table3.missed

    .panel.panel-default
        .panel-heading
            h3.panel-title Таблица 4
        table.table.table-striped.table-bordered
            thead
                tr
                    each group in groups
                        th= "Процент принятых " + group
                    th Процент сброс клиентом
                    th.text-danger Процент не принятых
            tbody
                tr
                    each group in groups
                        td= table4[group]
                    td= table4.ivr
                    td.text-danger= table4.missed

    .panel.panel-default
        .panel-heading
            h3.panel-title Без сбросов клиентом
        table.table.table-striped.table-bordered
            thead
                tr
                    th Всего
                    each group in groups
                        th= "Процент принятых " + group
                    th.text-danger Процент не принятых
            tbody
                tr
                    td= table5.total
                    each group in groups
                        td= table5[group]
                    td.text-danger= table5.missed

    .row
        .col-md-4.col-md-offset-4
            button#save-xls.btn.btn-lg.btn-block.btn-primary Сохранить в XLS

    script(type='text/javascript', src='static/js-xlsx/dist/xlsx.full.min.js')
    script(type='text/javascript', src='static/Blob.js/Blob.js')
    script(type='text/javascript', src='static/file-saver.js/FileSaver.js')
    script(type='text/javascript', src='static/stats.js')
